<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VM Module Whisperer 3000</title>
</head>
<body>
   
<div class="spacing">   
<%if @current_user %>
  <h1 class="user_title"> Welcome <%=@current_user.name%>, </h1>

  <h4 class = "user_subtitle">Got the wrong Ninja?  [Currently Logged User :  <%=@current_user.email%> ]</h4>

  <%=link_to " => Sign Out", session_path("Log-out"),method: :delete %> 
  <br><br><%= link_to " => Return Login/Signup", new_session_path%> <br>

<% end %>

  <h3 class = "user_subtitle"> <br>
  <%= form_tag("https://www.visualmanager.com/api/login", method: "post") do %>
    <%= label_tag(:q, "Enter VM Email:") %>
    <%= text_field_tag(:q) %>
    <%= label_tag(:q, "Enter VM Password:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Log-In to VisualManager") %>
  <% end %>
  </div>
        <a href="https://fischercompany-my.sharepoint.com/personal/ffischer_fischercompany_com/Documents/Forms/All.aspx?slrid=69cca89e-707e-7000-5e96-20eb33e0ba71&RootFolder=%2Fpersonal%2Fffischer_fischercompany_com%2FDocuments%2FRecordings%20-%20Pair%20Programming&FolderCTID=0x0120009BE551A94CE5C64BBCD109718471F1E7"><div class="nav_child"> Instuctions for Usage </div></a>
   
  </body>
</html>